name: Deploy-Stage

on:
    workflow_run:
        workflows: ["Official-Build"]
        types:
            - completed
        # IMPORTANT: Restrict which workflows can trigger this workflow to prevent pwn requests-
        # Even if an attacker forks the repo and modifies Official-Build to trigger on pull_request with their malicious code,
        # that execution would take place on a branch named `refs/pull/PULL_REQUEST_NUMBER/merge` which will never match `main`.
        # Since we don't have any workflows triggered on pull_request_target in this repo, this blocks the only attack vector.
        # https://securitylab.github.com/resources/github-actions-preventing-pwn-requests/
        # https://securitylab.github.com/resources/github-actions-new-patterns-and-mitigations/
        branches:
            - main
    workflow_dispatch:
        inputs:
            build-run-id:
                required: true
                type: string

jobs:
    deploy-webapp:
        if: github.event.workflow_run.conclusion == 'success'

        uses: ./.github/workflows/reusable-deploy-webapp.yml
        with:
            build-run-id: ${{ github.event.workflow_run.id || inputs.build-run-id }}
            environment: stage
        secrets: inherit

    dump-context:
        runs-on: ubuntu-latest
        permissions:
            contents: read
        steps:
        - name: Dump github context
          env:
            GITHUB_CONTEXT: ${{ toJson(github) }}
          run: echo "For security purposes, inspect the github context dump in the Actions log above to validate the workflow triggering this workflow"