name: Deploy-Stage

on:
    workflow_run:
        workflows: ["Official-Build"]
        types:
            - completed
    workflow_dispatch:
        inputs:
            build-run-id:
                required: true
                type: string

jobs:
    deploy-webapp:
        if: ${{ github.event.workflow_run.conclusion == 'success' }}
        uses: ./.github/workflows/reusable-deploy-webapp.yml
        with:
            build-run-id: ${{ github.event.workflow_run.id || inputs.build-run-id }}
            environment: stage
        secrets: 
            GH_PAT_ACTIONS_READONLY: ${{ secrets.GH_PAT_ACTIONS_READONLY }}