name: Deploy-Stage

on:
    workflow_run:
        workflows: ["Official-Build"]
        types:
            - completed
        branches:
            - main
    workflow_dispatch:
        inputs:
            build-run-id:
                required: true
                type: string

jobs:
    deploy-webapp:
        if: >
            github.event_name != 'pull_request' &&
            github.event.workflow_run.event != 'pull_request' &&
            github.event.workflow_run.conclusion == 'success' &&
            github.event.workflow_run.head_repository.fork == false

        uses: ./.github/workflows/reusable-deploy-webapp.yml
        with:
            build-run-id: ${{ github.event.workflow_run.id || inputs.build-run-id }}
            environment: stage
        secrets: inherit

    dump-context:
        runs-on: ubuntu-latest
        permissions:
            contents: read
        steps:
        - name: Dump github context
          env:
            GITHUB_CONTEXT: ${{ toJson(github) }}
          run: |
                echo "===== github context ====="
                echo "$GITHUB_CONTEXT" | jq .