on:
  workflow_call

jobs:
  client-lint:
    uses: ./.github/workflows/reusable-npm.yml
    with:
      folder: ./client
      npm-command: lint
  
  server-lint:
    uses: ./.github/workflows/reusable-npm.yml
    with:
      folder: ./server
      npm-command: lint
  
client-test:
    uses: ./.github/workflows/reusable-npm.yml
    with:
      folder: ./client
      npm-command: test
  
  server-test:
    uses: ./.github/workflows/reusable-npm.yml
    with:
      folder: ./server
      npm-command: test
  
  client-build:
    uses: ./.github/workflows/reusable-npm.yml
    with:
      folder: ./client
      npm-command: build
      artifact-name: client-build
      artifact-path: ./client/dist

  server-build:
    uses: ./.github/workflows/reusable-npm.yml
    with:
      folder: ./server
      npm-ci-args: "--omit=dev"
      npm-command: build
      artifact-name: server-build

  package:
    needs:
      - client-build
      - server-build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6

      - name: Download server build artifact
        uses: actions/download-artifact@v7
        with:
          name: server-build
          path: ./build/server

      - name: Download client build artifact
        uses: actions/download-artifact@v7
        with:
          name: client-build
          path: ./build/client

      - name: Package application
        shell: pwsh
        run: ./package.ps1 -ServerBuild ./build/server -ClientBuild ./build/client

      - name: Upload package artifact
        uses: actions/upload-artifact@v6
        with:
          name: application-package
          path: ./package